:root { 
--bluegray_50:#eaecf0; 
--blue_A700:#0061ff; 
--gray_400_3f:#d0c8c83f; 
--gray_50:#f8f9fa; 
--blue_50:#e0ecff; 
--blue_51:#e0ebff; 
--bluegray_900:#262b35; 
--bluegray_700:#424c5d; 
--black_900:#000000; 
--bluegray_400:#74839d; 
--bluegray_200:#bac1ce; 
--black_901:#090b0d; 
--blue_200:#a6c8ff; 
--white_A700:#ffffff; 
--gray_700_11:#55555511; 
}